*,*::before, *::after {
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root {
    --background-color:#FDF5DF;
    --headings-color:#F92C85;
    --text-color:#A0AECD;
    --button-color:#5EBEC4;
    --correct-answer:#ABF62D;
    --incorrect-answer:#EA445A;
}
body {
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);    
}

body.correct {
    background-color: var(--correct-answer);
}

body.incorrect {
    background-color: var(--incorrect-answer);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    width: 70vw;
    max-width: 70%;

}

